* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: green
}

#wrap {
    width: 800px;
    margin: 0 auto
}


/* GRID */

.grid-container {
    width: 100%;
    text-align: center
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both
}

.col-1 {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: darkslategray;
    float: left
}

/* GRID: SQUARE 1st row */

.col-a {
    width: 60px;
    height: 40px;
    background-color: #E0FFE3;
    float: left;
}

.col-b {
    width: 60px;
    height: 40px;
    background-color: yellow;
    float: left;
}

.col-c {
    width: 60px;
    height: 40px;
    background-color: #4CFBFF;
    float: left;
}

.col-d {
    width: 60px;
    height: 40px;
    background-color: #00CC0C;
    float: left
}

.col-e {
    width: 60px;
    height: 40px;
    background-color: #C000FF;
    float: left
}

.col-f {
    width: 60px;
    height: 40px;
    background-color: #7F0300;
    float: left
}

.col-g {
    width: 60px;
    height: 40px;
    background-color: #000CFF;
    float: left
}

.col-h {
    width: 60px;
    height: 40px;
    background-color: #000;
    float: left
}

/* GRID: SQUARE 2nd row */

.col-2-a {
    width: 96px;
    height: 40px;
    background-color: #000;
    float: left;
}

.col-2-b {
    width: 96px;
    height: 40px;
    background-color: #2F4F4F;
    float: left;
}

.col-2-c {
    width: 48px;
    height: 40px;
    background-color: #778899;
    float: left;
    border-right: 1px solid #fff
}

.col-2-ca {
    width: 48px;
    height: 40px;
    background-color: #778899;
    float: left;
    border-left: 1px solid #fff
}

.col-2-d {
    width: 96px;
    height: 40px;
    background-color: #D3D3D3;
    float: left;
}

.col-2-e {
    width: 96px;
    height: 40px;
    background-color: #fff;
    float: left;
}

/* GRID: SQUARE 3rd row */

.col-3-a {
    width: 96px;
    height: 40px;
    background-color: #fff;
    float: left;
    border-top: 1px solid #fff
}

.col-3-b {
    width: 144px;
    height: 40px;
    background-color: #000;
    float: left;
    border-top: 2px solid #fff;
    border-right: 1px solid #fff
}

.col-3-c {
    width: 144px;
    height: 40px;
    background-color: #000;
    float: left;
    border-top: 2px solid #fff;
    border-left: 1px solid #fff
}











/* GRID: SQUARE 5th row */

.col-5-a {
    width: 480px;
    height: 40px;
    background-color: #fff;
    float: left
}


/* GRID: SQUARE 6th & 7th row */

.col-6-a {
    width: 320px;
    height: 40px;
    background: linear-gradient(90deg, #FF008C, #000);
    float: left
}

.col-6-b {
    width: 160px;
    height: 40px;
    background-color: #778899;
    float: left
}

.col-7-a {
    width: 320px;
    height: 40px;
    background: linear-gradient(90deg, #658CFF, #000);
    float: left
}
