* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: green
}

#wrap {
    width: 800px;
    margin: 0 auto
}


/* GRID */

.grid-container {
    width: 100%;
    text-align: center
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both
}

.col-1 {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: darkslategray;
    float: left
}

.col-a {
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #E0FFE3;
    float: left;
}
